<!DOCTYPE html>
<html lang="en">

<head>
	<title>HelloCoding</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/home.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ace/ace.js"></script>
</head>

<%if (success) { %>
	<body onload="successAlert()">
<% } else { %>
	<body>
<% } %>

	<div class="collapse" id="navbarToggleExternalContent">
		<div class="bg-dark p-4">
		  <h5 class="text-white" align="right">Hello, <%= navUsername %>!</h5>
		  <span class="text-muted">
			  <p align="right">Total Stars: <%= navStars %></p>
			  <p align="right"><a href="/logout">Logout</a></p>
		  </span>
		</div>
	</div>

	<nav class="navbar navbar-dark bg-primary">
		<span class="navbar-brand mb-0 h1">
		  <img src="images/logo.svg" width="30" height="30" alt="HelloCoding">
		</span>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		  <img src="images/user.png" alt="Test">
		</button>
	</nav>

	<br />

	<div class="container">
		<div class="row">
			<div id="problem" class="col-sm-4">
				<h4><%= activityName %> - <%= activityStars %> Stars</h4>
				<p><%= activityQuestion %></p>
			</div>
			<div class="col-sm-8">
				<div id="editor"><p><%= startingcode %></p></div>
				<form id="codepost" action="/compile" method="POST">
				  <input id="code" type="hidden" name="code" value="">
				  <input id="username" type="hidden" name="username" value=<%= navUsername %>>
				</form>
				<form id="nextactivity" action="/next" method="POST">
				  <input id="username" type="hidden" name="username" value=<%= navUsername %>>
				</form>
			</div>
		</div>
		<div class="row justify-content-end">
			<button type="button" id="btnrun" class="btn" onclick="compileCode();">Run</button>
		</div>
		<h5>Output</h5>
		<div id="output" class="card">
		  <div class="card-block"><p><%= outputmessage %></p>
		  </div>
		</div>
	</div>

	<script>
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/tomorrow");
		editor.getSession().setMode("ace/mode/c_cpp");
		
		function successAlert() {
			alert("You have successfully completed this activity!\nClick OK to continue to the next activity.");
			document.getElementById("nextactivity").submit();
		}
		
		function compileCode() {
			var codetext = editor.getValue();
		    document.getElementById("code").value = codetext;
		    document.getElementById("codepost").submit();
		}
	</script>

</body>

</html>
